.main-container{
    display: flex;
    margin-right : 200px;
    margin-left: 200px;
    flex-direction: row ;
    justify-content: center;
}

.filter-container{
    width : 20%;
    margin : auto ;
    border-right: 0.4px solid rgb(199, 194, 194);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-container{
    width :80%;
}
.filter-box{
   
    padding : 5px ;
}
.refurb-container{
    width : 60%;
    margin : auto ; 
    display: flex;
    flex-direction:row ;
    justify-content: space-around;
}
.laptop-item{
    width: 200px;
}

